* {
    border: solid 1px red;
}

body {
	margin: auto;
	text-align: center;
	background-color: #f7f7f7;
	color: #686868;
}

.wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
}

img {
	object-fit: contain;
}

h1{
	margin-top: -30px;
	color: #18144c;
	font-family: Georgia;
}

.wrapper {
   
}

h3 {
	color: #18144c;
	font-family: Georgia;
	margin-top: -20px;
}
